<div class="row mt-4">

  <div class="col-3">
    <shared-sidebar></shared-sidebar>
  </div>

  <div class="col">
    <router-outlet></router-outlet>
    <!-- <shared-home-page></shared-home-page>
    <shared-about-page></shared-about-page> -->
  </div>

</div>
